@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark_30s:#21212A;
    --dark_st : #141526;
    --blue:#1cbfff;
    --color__gray--dark: #21212a;
    --box:#26273b;
    --color__header__gradient: linear-gradient(top,#21212a 0% ,#14141a 100%);
}
html{

}
body{
    position: relative;
    background: var(--dark_30s) ;
    width: 100vw;
    height: 100vh;
}
#head{
    background: linear-gradient(180deg,#14141a,#21212a);
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head img{
    height: 2rem;
}
#content{
    margin: auto;
    margin-top: 5rem;
    position: relative;
    width: 60%;
}
#content .language{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 10rem;
    height: 1.5rem;
    background-color: yellow;
    border-radius: 2px;
}
#content .first{
}
#content .icons{
    width: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

#content .content{
    margin-top: 2rem;
    color: black;
}
#content .content h1{
    color: orange;
    font-family: consolas;
    margin: 0 0 2rem 0;
}
#content .content p{
    font-family: 'Roboto Mono', 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    color: white;
}
#content .content .code{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-bottom: 2rem;
}
#content .content pre{    
    padding: 2rem 0;
    width: 100%;
    background-color: #353740;
    border-radius: 5px;
    color: whitesmoke;
}
#content .content h2{
    font-family: consolas;
    color: orange;
}
.content .icon{
    position: absolute;
    right: -1rem;
    bottom: -1rem;
}
.icon1{
    position: fixed;
    bottom: 3rem; 
    right: 3rem;
}
.icon1 i,.more i{
    background-color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.icon1 i:hover,.more i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: cubic-bezier(.8, 0, 0.2, 1.5) 0.5s;
}
.icon i{
    background-color: white;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: cubic-bezier(.8, 0, 0.2, 1.5) 0.5s;
}
#tool{
    z-index: 1;
    position: fixed;
    right: 3rem;
    bottom: 3rem;   
    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 2rem;
    width: 3rem;
}
#tool.active{
    height: 20rem;
}
#tool i{
    padding: 0.7rem;
    border-radius: 50%;
}
#tool .more{
    display: none;
    order: 1;
    justify-content: center;
    align-items: center;
}
#tool .more.active{
    display: grid;    
}
#tool .bar{
    order: 2;
}
#copied{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    border-radius: 4px;
}
#copied.active{
    transform: translateY(-5rem);
    transition: linear 0.5s;
}
#copied .box{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
    background-color: white;
}
.nameBar{
    height: 18rem;
    display: grid;
    position: absolute;
    right: -20rem;
}
h6{
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 1rem;
}
h6.active{
    transform: translateX(-25rem);
    transition: cubic-bezier(.8, 0, 0.2, 1.5) 1s;
}
footer{
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100vw;
    background: linear-gradient(180deg,#21212a,#14141a);
}